.hero {
  background: url("../../img/bg/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero__content {
  display: flex;
}

.hero__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}

.hero__left,
.hero__right {
  float: left;
  width: 50%;
}

.hero__left {
}

.hero__right {
  padding-top: rem(115px);
}

.hero__desc {
  font-size: rem(65px);
  color: white;
  @include lifehack;
  text-transform: lowercase;
  line-height: 1em;
}

.hero__img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}

.down-arrow {
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  width: rem(60px);
  transform: translateX(-50%);
  transition: .3s;
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .down-arrow__icon {
      margin-top: rem(-15px);
      width: rem(45px);
      height: rem(45px);
    }
  }
}

.down-arrow__icon {
  width: rem(40px);
  height: rem(40px);
  transition: .3s;
  fill: #fff;
}
